@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #EEF0F1;
}

.sec-central {
  background-color: #EEF0F1;
  padding: 0;
  margin: 0;
}

.sec-central nav {
  background-color: #EEF0F1;
}

.sec-central nav .navbar-brand {
  font-weight: bolder;
  color: black;
}

.sec-central nav .dropdown {
  display: none;
}

.sec-central nav .navbar-toggler {
  color: black;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  border: solid 1px black;
}

.sec-central nav .navbar-collapse ul li a {
  color: #363d44;
}

.sec-central nav .navbar-collapse ul li a:focus {
  font-weight: bold;
}

.sec-central nav .navbar-collapse a:focus {
  border-bottom: solid 3px #3B49DF;
}

.sec-central .card-body {
  padding: 10px;
}

.sec-central .card-body .post-info .avatar-info img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 100px;
}

.sec-central .card-body .post-info .avatar-info p {
  margin: 0;
  font-size: 12px;
  color: #4D5760;
}

.sec-central .card-body .post-info .avatar-info p:first-child {
  font-weight: bold;
}

.sec-central .card-body .post-info .p-info {
  margin-top: 20px;
}

.sec-central .card-body .post-info .p-info .p-title h4 {
  font-weight: bolder;
}

.sec-central .card-body .post-info .p-info .p-hashtags a {
  text-decoration: none;
  color: #6a6c6d;
  font-size: 13px;
  margin: 0 2px;
}

.sec-central .card-body .post-info .p-info .p-engage {
  margin-top: 15px;
}

.sec-central .card-body .post-info .p-info .p-engage .p-likes-c i {
  color: #4D5760;
  margin-right: 20px;
}

.sec-central .card-body .post-info .p-info .p-engage .read-save small {
  color: #4D5760;
  margin-right: 5px;
}

.sec-central .card-body .post-info .p-info .p-engage .read-save button {
  background-color: #D2D6DB;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 30px;
}

.sec-central .art-var li {
  list-style: none;
  margin-top: 7px;
}

@media only screen and (max-width: 576px) {
  .sec-central nav .dropdown {
    display: unset;
    background-color: white;
  }
  .sec-central nav .dropdown .a-btn {
    text-decoration: none;
    color: inherit;
    border: solid 1px black;
    border-radius: 5px;
  }
  .sec-central nav .dropdown .a-btn:focus {
    border: solid 1px #3B49DF;
    -webkit-box-shadow: 1px 1px #3B49DF;
            box-shadow: 1px 1px #3B49DF;
  }
  .sec-central nav .dropdown-menu {
    min-width: 0;
    border-radius: 0;
    font-size: small;
    top: unset;
    padding: unset;
    border: solid 1px black;
  }
  .sec-central nav .navbar-collapse {
    display: none;
  }
  .sec-central nav .dropdown-item {
    padding: .3rem 1.1rem;
    font-size: initial;
  }
  .sec-central nav .navbar-nav {
    width: 7rem;
  }
  .sec-central nav li {
    list-style: none;
  }
}

/* Inicio sección Derecha Yair
----------------------------------------------------------
*/
.aside-right-container .card {
  margin-bottom: 40px;
}

.aside-right-container .card .card-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-right-container .card .card-header div {
  font-size: 11px;
}

.aside-right-container .card .list-group .subcard-content, .aside-right-container .card .list-group .mini-tag, .aside-right-container .card .list-group .mini-tag-btn {
  font-size: 11px;
  text-align: initial;
  margin-bottom: 10px;
}

.aside-right-container .card .list-group .mini-tag {
  color: gray;
  border-color: blue;
}

.aside-right-container .card .list-group .mini-tag-btn {
  background-color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  text-align: center;
  color: white;
  width: 35px;
}

.aside-right-container .card .mini-footer {
  font-size: 12px;
  text-align: center;
}

.aside-right-container .card .btn:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.aside-right-container .card .btn:hover .subcard-content, .aside-right-container .card .btn:hover .mini-footer {
  color: blue;
}

/* Final sección Derecha Yair
----------------------------------------------------------
*/
/*# sourceMappingURL=styles.css.map */