@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #EEF0F1;
}

.left.col-md-3.col-lg-3.d-none.d-md-block .mb-6 .btn-light {
  background: #eef0f1;
  border: none;
}

.left.col-md-3.col-lg-3.d-none.d-md-block .mb-6 .btn-light:hover {
  background: rgba(8, 9, 10, 0.05);
  color: #3b49df;
}

.left.col-md-3.col-lg-3.d-none.d-md-block .mb-6 div .redes li {
  list-style: none;
}

.left.col-md-3.col-lg-3.d-none.d-md-block .mb-6 div .redes li a {
  color: #64707d;
}

.left.col-md-3.col-lg-3.d-none.d-md-block .mb-6 div .redes li a:hover {
  color: #4d5760;
}

.left.col-md-3.col-lg-3.d-none.d-md-block .tags-container .header-tags h3 {
  font-size: 16px;
}

.left.col-md-3.col-lg-3.d-none.d-md-block .tags-container .tags {
  height: 200px;
}

.left.col-md-3.col-lg-3.d-none.d-md-block .tags-container a {
  color: #64707d;
}

.left.col-md-3.col-lg-3.d-none.d-md-block .tags-container a svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.left.col-md-3.col-lg-3.d-none.d-md-block .tags-container a:hover {
  color: #4d5760;
}

.left.col-md-3.col-lg-3.d-none.d-md-block .container-stickers a img {
  width: 100%;
  border-radius: 5px;
}

.left.col-md-3.col-lg-3.d-none.d-md-block .container-stickers a h2 {
  font-size: 24px;
  text-decoration: none;
}

.left-post .react-post ul li a {
  list-style: none;
}

.sec-central {
  background-color: #EEF0F1;
  padding: 0;
  margin: 0;
}

.sec-central nav {
  background-color: #EEF0F1;
}

.sec-central nav .navbar-brand {
  font-weight: bolder;
  color: black;
}

.sec-central nav .dropdown {
  display: none;
}

.sec-central nav .navbar-toggler {
  color: black;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  border: solid 1px black;
}

.sec-central nav .navbar-collapse ul li a {
  color: #363d44;
}

.sec-central nav .navbar-collapse ul li a:focus {
  font-weight: bold;
}

.sec-central nav .navbar-collapse a:focus {
  border-bottom: solid 3px #3B49DF;
}

.sec-central .card-body {
  padding: 10px;
}

.sec-central .card-body .avatar-info img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 100px;
}

.sec-central .card-body .avatar-info p {
  margin: 0;
  font-size: 12px;
  color: #4D5760;
}

.sec-central .card-body .avatar-info p:first-child {
  font-weight: bold;
}

.sec-central .card-body .p-info {
  margin-top: 20px;
}

.sec-central .card-body .p-info .p-title h4 {
  font-weight: bolder;
}

.sec-central .card-body .p-info .p-hashtags a {
  text-decoration: none;
  color: #6a6c6d;
  font-size: 13px;
  margin: 0 2px;
}

.sec-central .card-body .p-info .p-engage {
  margin-top: 15px;
}

.sec-central .card-body .p-info .p-engage .p-likes-c i {
  color: #4D5760;
  margin-right: 20px;
}

.sec-central .card-body .p-info .p-engage .read-save small {
  color: #4D5760;
  margin-right: 5px;
}

.sec-central .card-body .p-info .p-engage .read-save button {
  background-color: #D2D6DB;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 30px;
}

.sec-central .art-var li {
  list-style: none;
  margin-top: 7px;
}

.p-post {
  background-color: white;
}

.p-post .card {
  margin-top: 20px;
}

.p-post .card img {
  width: 30px;
  height: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 10px;
}

.p-post .card h6 {
  color: #949697;
}

.p-post .p-engage {
  margin-top: 5px;
}

.p-post .p-engage .p-likes-c {
  margin-left: 4.5rem;
}

.p-post .p-engage .p-likes-c i {
  color: #4D5760;
  margin-right: 25px;
}

.discussion .card-body {
  padding: 0;
}

.discussion form button {
  display: none;
  width: auto;
  margin-right: 5px;
}

.discussion form .form-group:focus-within {
  border: solid 1px #3B49DF;
  -webkit-box-shadow: 1px 1px #3B49DF;
          box-shadow: 1px 1px #3B49DF;
}

.discussion form .form-group:focus-within textarea {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 8rem;
}

.discussion form .form-group:focus-within .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9FAFA;
  padding: 5px;
  border-top: solid 0.5px #989999;
}

.discussion form .form-group:focus-within button {
  display: unset;
}

@media only screen and (max-width: 576px) {
  .sec-central nav .dropdown {
    display: unset;
    background-color: white;
  }
  .sec-central nav .dropdown .a-btn {
    text-decoration: none;
    color: inherit;
    border: solid 1px black;
    border-radius: 5px;
  }
  .sec-central nav .dropdown .a-btn:focus {
    border: solid 1px #3B49DF;
    -webkit-box-shadow: 1px 1px #3B49DF;
            box-shadow: 1px 1px #3B49DF;
  }
  .sec-central nav .dropdown-menu {
    min-width: 0;
    border-radius: 0;
    font-size: small;
    top: unset;
    padding: unset;
    border: solid 1px black;
  }
  .sec-central nav .navbar-collapse {
    display: none;
  }
  .sec-central nav .dropdown-item {
    padding: .3rem 1.1rem;
    font-size: initial;
  }
  .sec-central nav .navbar-nav {
    width: 7rem;
  }
  .sec-central nav li {
    list-style: none;
  }
}

/* Inicio sección Derecha Yair
----------------------------------------------------------
*/
.aside-right-container .card {
  margin-bottom: 40px;
}

.aside-right-container .card .card-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-right-container .card .card-header div {
  font-size: 11px;
}

.aside-right-container .card .list-group .subcard-content, .aside-right-container .card .list-group .mini-tag, .aside-right-container .card .list-group .mini-tag-btn {
  font-size: 11px;
  text-align: initial;
  margin-bottom: 10px;
}

.aside-right-container .card .list-group .mini-tag {
  color: gray;
  border-color: blue;
}

.aside-right-container .card .list-group .mini-tag-btn {
  background-color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  text-align: center;
  color: white;
  width: 35px;
}

.aside-right-container .card .mini-footer {
  font-size: 12px;
  text-align: center;
}

.aside-right-container .card .btn:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.aside-right-container .card .btn:hover .subcard-content, .aside-right-container .card .btn:hover .mini-footer {
  color: blue;
}

/* Final sección Derecha Yair
----------------------------------------------------------
*/
.footer-container {
  background-color: #d2d6db;
  padding: 48px;
  position: relative;
}

.footer-container .row .footer {
  width: 50%;
  margin: 0 auto;
}

.footer-container .row .footer .footer-nv .lista {
  list-style: none;
}

.footer-container .row .footer .footer-nv .lista .p-2 {
  color: #202428;
  text-decoration: none;
}

.footer-container .row .footer .footer-nv .lista a {
  color: #202428;
  text-decoration: none;
}

.footer-container .row .footer .footer-nv .lista a:hover {
  color: #3b49df;
}

.footer-container .row .footer .pt-2 .redes li {
  list-style: none;
}

.footer-container .row .footer .pt-2 .redes li a {
  color: #64707d;
}

.footer-container .row .footer .pt-2 .redes li a:hover {
  color: #4d5760;
}

.footer-container .row .footer hr {
  border: none;
  border-top: 1px solid #4d5760;
  opacity: 0.15;
  width: 20%;
  margin: 0 auto;
}

.footer-container .row .footer p {
  text-align: center;
  color: #4d5760;
  font-size: 14px;
}

.footer-container .row .footer p a {
  color: #202428;
}

.footer-container .row .footer p a:hover {
  color: #3b49df;
  text-decoration: none;
}

.footer-container .row .footer .mb-1 p {
  text-align: center;
  color: #4d5760;
  font-size: 14px;
}

.footer-container .row .footer .mb-1 p a {
  color: #202428;
}

.footer-container .row .footer .mb-1 p a:hover {
  color: #3b49df;
  text-decoration: none;
}

.footer-container .row .footer .mb-1 div {
  text-align: center;
}

.footer-container .row .footer .mb-1 div a {
  text-align: center;
  color: #1ab3a6;
}

.footer-container .pet img {
  width: 50px;
  position: absolute;
  top: -2px;
  right: 48px;
  display: block;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer-container .pet img:hover {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

@media screen and (max-width: 768px) {
  .footer-container .pet img {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .footer-container .row .footer {
    width: 100%;
  }
  .footer-container .pet img {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */