// Para trabajarlos entre todos con comunicacion previa
@import '../css/scss/variables';
@import '../css/scss/base';
@import '../css/scss/mixins';

// Header @omar
@import '../css/scss/header';

// Izquierda @Rosy
@import '../css/scss/sec-izquierda';

// Central @ferdinand
@import '../css/scss/sec-central';

// Derecha @Yair
@import '../css/scss/sec-derecha';

//footer
@import '../css/scss/footer';