




div.collapse{
        justify-content: space-between;
    input.form-control{
        width: 40%;
    }
    button.btn{
        width: 25%;
    }
}    
    
div.media{
    width: fit-content;
    
}
img.img-circle{
        border-radius: 50%;
    
}
