/* Inicio sección Derecha Yair
----------------------------------------------------------
*/


.aside-right-container {

    .card {

        margin-bottom: 40px;
        .card-header{
            
            align-items: center;

            div{
                font-size: 11px;
            }
        }

        .list-group{

            .subcard-content, .mini-tag, .mini-tag-btn{
                font-size: 11px;
                text-align: initial;
                margin-bottom: 10px;
            }

            .mini-tag{
                color: gray;
            }

            .mini-tag-btn{
                background-color: blue;
                border: 1px solid blue;
                border-radius: 5px;
                text-align: center;
                color: white;
                width: 35px;
            }    
        }

        .mini-footer{
            font-size: 12px;
            text-align: center;
        }

        .btn:hover{
            background-color: rgba(0,0,0,.03);

            .subcard-content, .mini-footer{
                color: blue;
            }
        }

    }    

}










/* Final sección Derecha Yair
----------------------------------------------------------
*/